
body {
    padding: 0px;
    margin: 0;
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    align-items: center;
    background-color: #363636;
    box-sizing: border-box;
    flex-direction: column;
}

p {
    font-family: 'Kumbh Sans';
    color: white;
    font-size: 20px;
    text-align: center;
}

#frase {
    font-family: 'Kumbh Sans';
    color:#C0C0C0;
    font-size: 16px;
}

#container-login {
    width: 440px;
    height: auto;
    background-color: #1C1C1C;
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

@media screen and (max-width: 500px) {
    #container-login {
       width: 100%;
     }
}

#btn {
    text-decoration: none;
    display: block;
    width: 220px;
    line-height: 38px;
    padding-top: 2px;
    border-radius: 20px;
    color: white;
    background: rgba(71, 43, 186, 1);
    margin: 0 auto;
    border: none;
    font-size: 14px;
    text-align: center;
}

#text-guest {
    text-decoration: none;
    text-align: center;
    color:#808080;
    margin-top: 15px;
}

#content-bottom {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#timeline-posts {
    width: 100%;
    height: auto;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#container {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: yellow;
}

#header {
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(116,58,213,1) 35%, rgba(140,22,98,1) 100%);
    height: 100px;
    margin-top: -10px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #D3D3D3;
    text-align: center;
}

#post-text {
    color: #D3D3D3;
    text-align: left;
    margin-left: 5px;
}


#containerPost {
    width: 50%;
    height:auto;
    background-color:#4F4F4F;
    margin-top:10px;
    display:flex;
    flex-direction:column;
    align-items:left;
    border-radius: 10px;
    margin-left: 10px;

}

@media screen and (max-width: 988px) {
    #containerPost {
       width: 100%;
     }
}
